@import "tailwindcss";

h2 {
  @apply text-xl font-bold text-gray-900 mb-2;
}

h3 {
  @apply text-lg font-bold text-gray-900 mb-0;
}

.btn {
  @apply px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 hover:scale-102 cursor-pointer transition-transform duration-100 focus:outline-none focus:ring-2 focus:ring-blue-400 disabled:opacity-50 disabled:cursor-not-allowed;
}

.green {
  @apply bg-green-600 hover:bg-green-700 focus:ring-green-400;
}

.red {
  @apply bg-red-600 hover:bg-red-700 focus:ring-red-400;
}

.orange {
  @apply bg-orange-600 hover:bg-orange-700 focus:ring-orange-400;
}

.input {
  @apply px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400 disabled:opacity-50 disabled:cursor-not-allowed;
}

.highlightText {
  @apply text-blue-600 underline hover:text-blue-800 cursor-pointer;
}