# source ./api/loadEnv.sh local
# source ./clob/loadEnv.sh local

# docker compose -f docker-compose-monolith.yml -f docker-compose-monolith.dev.yml up -d
services:
  api:
    image: ghcr.io/prismmarketlabs/api:0.1.0
    # pull_policy: always
    restart: always
    ports:
      - "8888:8888"
    environment:
      API_HOST: ${API_HOST}
      API_PORT: ${API_PORT}
      USDC_DECIMALS: ${USDC_DECIMALS}
      PREVIEWNET_USDC_ADDRESS: ${PREVIEWNET_USDC_ADDRESS}
      TESTNET_USDC_ADDRESS: ${TESTNET_USDC_ADDRESS}
      MAINNET_USDC_ADDRESS: ${MAINNET_USDC_ADDRESS}
      AVAILABLE_NETWORKS: ${AVAILABLE_NETWORKS}
      PREVIEWNET_SMART_CONTRACT_ID: ${PREVIEWNET_SMART_CONTRACT_ID}
      PREVIEWNET_HEDERA_OPERATOR_ID: ${PREVIEWNET_HEDERA_OPERATOR_ID}
      PREVIEWNET_PUBLIC_KEY: ${PREVIEWNET_PUBLIC_KEY}
      PREVIEWNET_HEDERA_OPERATOR_KEY_TYPE: ${PREVIEWNET_HEDERA_OPERATOR_KEY_TYPE}
      TESTNET_SMART_CONTRACT_ID: ${TESTNET_SMART_CONTRACT_ID}
      TESTNET_HEDERA_OPERATOR_ID: ${TESTNET_HEDERA_OPERATOR_ID}
      TESTNET_HEDERA_OPERATOR_KEY_TYPE: ${TESTNET_HEDERA_OPERATOR_KEY_TYPE}
      TESTNET_PUBLIC_KEY: ${TESTNET_PUBLIC_KEY}
      MAINNET_SMART_CONTRACT_ID: ${MAINNET_SMART_CONTRACT_ID}
      MAINNET_HEDERA_OPERATOR_ID: ${MAINNET_HEDERA_OPERATOR_ID}
      MAINNET_HEDERA_OPERATOR_KEY_TYPE: ${MAINNET_HEDERA_OPERATOR_KEY_TYPE}
      MAINNET_PUBLIC_KEY: ${MAINNET_PUBLIC_KEY}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_UNAME: ${DB_UNAME}
      DB_NAME: ${DB_NAME}
      DB_MAX_ROWS: ${DB_MAX_ROWS}
      NATS_URL: ${NATS_URL}
      TIMESTAMP_ALLOWED_PAST_SECONDS: ${TIMESTAMP_ALLOWED_PAST_SECONDS}
      TIMESTAMP_ALLOWED_FUTURE_SECONDS: ${TIMESTAMP_ALLOWED_FUTURE_SECONDS}
      # secrets
      DB_PWORD: ${DB_PWORD}
      PREVIEWNET_HEDERA_OPERATOR_KEY: ${PREVIEWNET_HEDERA_OPERATOR_KEY}
      TESTNET_HEDERA_OPERATOR_KEY: ${TESTNET_HEDERA_OPERATOR_KEY}
      MAINNET_HEDERA_OPERATOR_KEY: ${MAINNET_HEDERA_OPERATOR_KEY}

  clob:
    image: ghcr.io/prismmarketlabs/clob:0.1.0
    # pull_policy: always
    restart: always
    ports:
      - "50051:50051"
    environment:
      CLOB_HOST: ${CLOB_HOST}
      CLOB_PORT: ${CLOB_PORT}
      CLOB_MATCHING_INTERVAL_SECONDS: ${CLOB_MATCHING_INTERVAL_SECONDS}
      NATS_HOST: ${NATS_HOST}
      NATS_PORT: ${NATS_PORT}

  web:
    image: ghcr.io/prismmarketlabs/web:0.1.0
    # pull_policy: always
    restart: always
    ports:
      - "5173:80"
