# docker compose -f docker-compose-monolith.yml up -d
services:
  web:
    image: ghcr.io/prismmarketlabs/web:0.1.0
    restart: always
    ports:
      - "5173:80" # TODO: change to env var
    network_mode: "host"
  api:
    image: ghcr.io/prismmarketlabs/api:0.1.1
    restart: always
    ports:
      - "8888:8888" # TODO: change to env var
    network_mode: "host"
    environment:
      HOST: ${HOST}
      PORT: ${PORT}
      HEDERA_OPERATOR_ID: ${HEDERA_OPERATOR_ID}
      HEDERA_OPERATOR_KEY_TYPE: ${HEDERA_OPERATOR_KEY_TYPE}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_UNAME: ${DB_UNAME}
      DB_NAME: ${DB_NAME}
      DB_MAX_ROWS: ${DB_MAX_ROWS}

      HEDERA_OPERATOR_KEY: ${HEDERA_OPERATOR_KEY}
      DB_PWORD: ${DB_PWORD}
  clob:
    image: ghcr.io/prismmarketlabs/clob:0.1.0
    restart: always
    ports:
      - "50051:50051" # TODO: change to env var
    network_mode: "host"
    environment:
      HOST: ${HOST}
      PORT: ${PORT}
      CLOB_MATCHING_INTERVAL_SECONDS: ${CLOB_MATCHING_INTERVAL_SECONDS}
      NATS_HOST: ${NATS_HOST}
      NATS_PORT: ${NATS_PORT}
