name: Build and Push Proxy

on:
  push:
    paths:
      - 'proxy/**'

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ secrets.GITHUB_ACTOR }} # login to ghcr.io
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./proxy
        push: true
        tags: |
          ghcr.io/prismmarketlabs/proxy:${{ github.sha }}
          ghcr.io/prismmarketlabs/proxy:latest
