name: Build and Push Proxy

on:
  push:
    paths:
      - 'proxy/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }} # github-actions-s3-writer
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: ./proxy
        push: true
        tags: |
          ghcr.io/prismmarketlabs/proxy:${{ github.sha }}
          ghcr.io/prismmarketlabs/proxy:latest
